/* Fondo y estilos generales */
body {
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
    font-size: 14px;
    padding: 20px;
    width: 500px;
  }
  
  /* Estilos para el título */
  h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  /* Estilos para el formulario */
  form {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    width: 100%;
    max-width: 500px; /* Ajusta el valor según tus necesidades */
    margin: 0 auto;
  }

  
  
  form label {
    margin-bottom: 10px;
  }
  
  form input[type="text"],
  form input[type="number"] {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  form button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  form button:hover {
    background-color: #3e8e41;
  }
  
  /* Estilos para la sección de chat */
  #respuesta {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
  }
  #respuesta {
    border-radius: 10px;
    overflow: hidden;
  }
  
  
  #respuesta p {
    margin-bottom: 10px;
  }
  
  /* Estilos para las imágenes */
  img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-bottom: 10px;
  }
  .chat {
    display: flex;
    max-width: 80%; /* ajusta el ancho máximo según tus preferencias */
    margin: 10px;
    padding: 10px;
    border-radius: 20px;
    align-self: flex-start;
    font-size: 16px;
    font-weight: bold;
  }
  
  .chat.sent {
    align-self: flex-end;
    background-color: #DCF8C6; /* ajusta el color de fondo según tus preferencias */
  }
  

  #campos-avanzados {
    display: none;
  }
  
  #opciones-avanzadas button {
    margin-bottom: 10px;
  }
  
  #opciones-avanzadas button:focus + #campos-avanzados {
    display: block;
  }
  .oculto {
    display: none;
  }